body{
  text-align:center;
  font-family:  "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
  margin:0px;
  padding-top:50px;
  background-color:#ececec;
  line-height:50px;
}
.title{
  color:#ff006f;
}
.n{
  background-color:#ff006f;
  color:white;
  font-size:30px;
  width:100%;
  position:absolute;
  position:fixed;
  top:0px;
  margin-top:0px;
}
a{
  text-decoration-line:none;
  color:white;
}
.black{color:black;
  text-decoration-line: underline;}
/*このCSSファイルを変更すればすべてのページのスタイルを変更できます。*/
